
.messageBox{
    padding: .9vmax;
    margin: 1vmax;
    border-radius: 0.5vmax;
    display: inline-block;
    clear: both;
    /* font-size: 1.2vmax; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 70%;
}

.right{
    float: right;
    background-color: rgb(196, 255, 184);
    /* color: white; */
    text-align: right;
}

.left{
    float: left;
    text-align: left;
    background-color: white;
    
}
@media screen and (min-width: 800px) {
    .messageBox{
        font-size: 1.2vmax;
    }
    
} 